preview-page {
  $thumbWidth: 100px;
  $vmSize: 50px;

  .item {
    border-style: none !important;
  }

  ion-thumbnail.capture-img {
    min-width: unset !important;
    min-height: unset !important;

    img {
      display: inline-block;
      width: $thumbWidth !important;
      height: auto !important;
    }
  }

  ion-thumbnail.vm {
    min-width: unset !important;
    min-height: unset !important;

    img {
      display: inline-block;
      width: $vmSize !important;
      height: $vmSize !important;
    }
  }

  canvas {
    width: 100%;
  }
}
