iframe-player {
  @import "../../../node_modules/plyr/src/sass/plyr.scss";
  @import "../player/floating-player.scss";

  display: block;

  ion-toolbar {
    min-height: 50px !important;
    height: 50px !important;
    padding: 0 !important;
  }

  ion-item {
    padding-left: 1px !important;
  }

  ion-note {
    color: color($colors, primary,  base) !important;
    margin-left: 4px !important;
    margin-right: 0 !important;
    font-size: 80%;
    width: 8ch;
  }
}
